/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('./RADIO/images/BG.png');
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-attachment: fixed;
}

/* Cabeçalho */
header {
    width: 100%;
    background-color: #001D63; /* Cor alterada */
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

#logo {
    width: 250px; /* Tamanho da logo aumentado */
    height: auto;
    border-radius: 0;
    border: none;
}

/* Música e controles */
.music-player {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    margin-top: 20px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.music-player h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #fff;
}

/* Barra de Áudio transformada em 6 barras */
.audio-bar-container {
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.audio-bar {
    width: 15px; /* Largura das barras */
    height: 60px; /* Altura inicial das barras */
    margin: 0 5px;
    background: linear-gradient(180deg, #001D63, #29C43C); /* Degradê entre as cores */
    border-radius: 5px;
    animation: bounce 0.5s ease-in-out infinite paused; /* Animação parada por padrão */
    transition: height 0.1s ease-in-out;
}

/* Animação para as barras */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Controle de Áudio */
.audio-controls {
    display: none; /* Ocultar os controles */
}

/* Barra de Progresso removida */
.progress-container {
    display: none; /* Ocultar a barra de progresso */
}

/* Rodapé */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

footer p {
    margin: 0;
}
