/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('./RADIO/images/BG.png'); 
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-attachment: fixed;
}

/* Cabeçalho */
header {
    margin: 20px 0;
    border-bottom: 5px solid #007BFF; /* Adiciona a borda azul no cabeçalho */
}

#logo {
    width: 280px; /* Aumenta o tamanho da logo */
    height: auto;
    max-width: 100%;
    border-radius: 0; /* Retira a borda arredondada da logo */
    border: none; /* Remove qualquer borda da logo */
}

h1 {
    font-size: 2.8rem;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Carrossel de Banners */
.carousel-container {
    width: 80%;
    max-width: 1200px; /* Aumenta o tamanho do carrossel */
    overflow: hidden;
    margin: 30px 0;
}

.carousel {
    display: flex;
    transition: transform 1s ease-in-out;
}

.banner {
    width: 350px; /* Aumenta o tamanho dos banners */
    height: auto;
    border-radius: 15px; /* Arredonda um pouco as bordas dos banners */
    margin: 0 15px;
    transition: transform 0.5s ease-in-out;
}

.carousel .banner:nth-child(1) {
    transform: scale(0.8); /* Banner esquerdo encolhido */
}

.carousel .banner:nth-child(2) {
    transform: scale(1.2); /* Banner central aumentado */
}

.carousel .banner:nth-child(3) {
    transform: scale(0.8); /* Banner direito encolhido */
}

/* Tocador de Música */
.music-player {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    margin-top: 20px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.music-player h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #fff;
}

/* Rodapé */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

footer p {
    margin: 0;
}
