/* Barra de Áudio que sobe e desce */
.audio-bar-container {
    position: relative;
    height: 100px; /* Tamanho total da altura da barra */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    overflow: hidden; /* Para garantir que as barras não saiam da área visível */
}

.audio-bar {
    width: 20px;
    height: 100%; /* A altura total da barra */
    background-color: #ff8c00;
    border-radius: 50%;
    position: absolute;
    bottom: 0; /* Fixa a parte inferior da barra */
    animation: bounce 0.5s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: scaleY(1); /* Sem escala no início */
    }
    50% {
        transform: scaleY(2); /* Aumenta a parte de cima da barra */
    }
    100% {
        transform: scaleY(1); /* Retorna ao tamanho original */
    }
}
